<form class="mt-2" method="POST">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ khóa</label>
    <input
      type="text"
      class="form-control"
      name="q"
      id="search-input"
      placeholder="Nhập từ khóa..."
    />
  </div>
  <div class="mb-3">
    <label for="gender-input" class="form-label">Chọn</label>
    <select class="form-control" name="gender" id="gender-input">
      <option value="">-- Chọn thông tin</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>